<!DOCTYPE html>
<html dir="rtl" class="fa-events-icons-ready" lang="en"><head>
  <meta charset="utf-8">
  <base id="base">
  <script src="/assets/js/config.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>پنل مدیریت - ناهور </title>
  <link rel="icon" href="assets/img/logo.png">


  <title></title>

  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.1.3/css/bootstrap.min.css" integrity="sha384-Jt6Tol1A2P9JBesGeCxNrxkmRFSjWCBW1Af7CSQSKsfMVQCqnUVWhZzG0puJMCK6" crossorigin="anonymous">
  <link href="assets/panelassests/dashboard.rtl.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/6d68f18b97.js"></script><link href="https://use.fontawesome.com/6d68f18b97.css" media="all" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css">
  <link href="assets/css/main.css" rel="stylesheet" />
  
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg nav-dark">
    <a class="navbar-brand mr-2" style="color: white;">  ناهور</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars menu-icon"></i>
    </button>

  </nav>
  

  <div class="container-fluid">
    <div class="row">
      
      <%- include('navbar.ejs',{flag:"dashboard"}); -%>
      
      <main role="main" class=" ml-sm-auto col-lg-9 col-xl-10 px-4" id="reserve-list">
        <div class="container-fluid">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">اضافه کردن بنر در صفحه اصلی</h1>
          </div>
          <form action="/addbanner" onsubmit="alert('بنر شما با موفقیت اضافه شد.')" enctype="multipart/form-data" method="POST">
          <div class='row'>
            <div class="col-xl-2 col-lg-6">
              <div class="form-group">
                <label for="image">
                  تصویر
                </label>
                <input type="file" accept="image/*" class="form-control-file" name="image" id="image" required>
                <label for="description">
                  توضیحات
                </label>
                <textarea class="form-control" name="description" id="description" required></textarea>
              </div>
              <button type="submit"  class="btn btn-success submit-button float-right" id="reserveTimesRequestButton">
                <i class="fa fa-check"></i>
                 اضافه کردن
              </button>
            </div>
          </div>
          </form>





          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">اضافه کردن دسته بندی</h1>
          </div>
          

          <form action="/addcategory" onsubmit="alert('دسته بندی شما با موفقیت اضافه شد.')" enctype="multipart/form-data" method="POST">
          <div class='row'>
            <div class="col-xl-2 col-lg-6">
              <div class="form-group">
                <label for="image">
                  تصویر
                </label>
                <input type="file" accept="image/*" class="form-control-file" name="image" id="image" required>
                <label for="name">
                  نام
                </label>
                <input type="text" class="form-control" name="name" id="name" required>
              </div>
              <button type="submit" class="btn btn-success submit-button float-right" id="reserveTimesRequestButton">
                <i class="fa fa-check"></i>
                 اضافه کردن
              </button>
            </div>
          </div>
          </form>


          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">اضافه کردن کارخانه</h1>
          </div>
          

          <form action="/addmanufacturer" enctype="multipart/form-data" method="POST">
          <div class='row'>
            <div class="col-xl-2 col-lg-6">
              <div class="form-group">
                <label for="image">
                  لوگو
                </label>
                <input type="file" accept="image/jpeg,image/png" class="form-control-file" name="image" id="image" required>
                <label for="name">
                  نام
                </label>
                <input type="text" class="form-control" name="name" id="name">
                <label for="phonenumber">
                  تلفن
                </label>
                <input type="text" class="form-control" name="phonenumber" id="phonenumber">
                <label for="website">
                  وب سایت
                </label>
                <input type="text" class="form-control" name="website" id="website">
                <label for="email">
                  ایمیل
                </label>
                <input type="email" class="form-control" name="email" id="email">
                <label for="shortdescription">
                  توضیحات کوتاه
                </label>
                <textarea class="form-control" name="shortdescription" id="shortdescription"></textarea>
                <label for="description">
                  توضیحات
                </label>
                <textarea class="form-control" name="description" id="description"></textarea>
                <label for="address">
                  آدرس
                </label>
                <textarea class="form-control" name="address" id="address"></textarea>
                <div class="row">
                  <div class="col-md-6 col-lg-6">
                    <div class="form-group mb-2 checkbox-groupp required">
                      <div id="myDIV" class="header">
                        <label for="myInput">
                          دسته بندی محصولات
                        </label>
                        <input oninput="checkdatalist()" list="mylist" id="myInput" placeholder="دسته بندی">
                        <datalist id="mylist">
                        </datalist>
                        <button type="button" onclick="newElement()" id="addcat" class="addBtn btn btn-danger">اضافه</button>
                        <ul id="myUL" style="display: inline-grid;">
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success submit-button float-right" id="reserveTimesRequestButton">
                <i class="fa fa-check"></i>
                 اضافه کردن
              </button>
            </div>
          </div>
          </form>


        </div>
      </main>
      
    </div>
  </div>
  
  <script>
    function newElement() {
      var li = document.createElement("li");
      var input = document.createElement("input");
      var inputValue = document.getElementById("myInput").value;
      var t = document.createTextNode(inputValue);
      input.value=inputValue;
      input.type="checkbox";
      input.checked=true;
      input.name="categories";
      input.style.visibility="hidden";
      li.className="checklist";
      li.style.listStyle="none";
      li.appendChild(t);
      li.appendChild(input);
      if (inputValue === '') {
        alert("دسته بندی وارد شده معتبر نیست");
      } else {
        document.getElementById("myUL").appendChild(li);
      }
      document.getElementById("myInput").value = "";
    
      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      li.appendChild(span);
    
      var close = document.getElementsByClassName("close");
      for (i = 0; i < close.length; i++) {
        close[i].onclick = function() {
          var div = this.parentElement;
          this.parentElement.remove();
        }
      }
    }
  
    </script>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="assets/panelassests/jquery-slim.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.rtlcss.com/bootstrap/v4.1.3/js/bootstrap.min.js" integrity="sha384-C/pvytx0t5v9BEbkMlBAGSPnI1TQU1IrTJ6DJbC8GBHqdMnChcb6U4xg4uRkIQCV" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
  <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>

</body>

</html>
