<nav class="col-lg-3 col-xl-2 d-lg-block sidebar collapse" id="navbarTogglerDemo">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        
        <li class="nav-item">
          <a class="nav-link" id="dashboard" href="/adminpanel/dashboard" >
            <i class="fa fa-tachometer"></i>
            داشبورد
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="manufacturers" href="/adminpanel/manufacturers" >
            <i class="fa fa-truck"></i>
            کارخانه ها
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="categories" href="/adminpanel/categories" >
            <i class="fa fa-bars"></i>
            دسته بندی ها
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/exit" >
            <i class="fa fa-sign-out"></i>
            خروج
          </a>
        </li>
      </ul>

      </div>
  </nav>

  <script>
    active = "<%= flag %>"
    document.getElementById(active).className="nav-link active"
  </script>